body {
  color: #40514E;
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
  font-family: serif;
}

h1 {
  color: #66BFBF;
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  margin: 50px auto 50px auto;
}

h2 {
  color: #66BFBF;
  font-family: Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}
h3 {
  color: #11999E;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;

}
hr {
  background: none;
  border: dotted #EAF6F6 5px;
  border-bottom: none;
  width: 30%;
  clear: left;

}

table {
  border: 1px solid black;
}

p {
    line-height: 2;
    align-items: center;
}

.intro {
  width: 80%;
  margin: auto;
}

.left-align {
  width: 100%;
  text-align: left;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #EAF6F6;

}

.introduce {
margin: 50px auto auto;
width: 50%;
}

.education {
  margin: 50px auto auto;
  width: 50%;
}

.skills {
  margin: 50px auto auto;
  width: 50%;
}

.contact {
  margin: 50px auto auto;
  width: 50%;
}

.anchors {
  background-color: #66BFBF

}

.coaching {
  width: 33%;
  float: left;
  padding-right: 30px;
}

.laptop {
  width: 33%;
  float: right;
  padding-left: 30px;
}

.mail-send {
  width: 33%;
  float: left;
  padding-right: 30px;
}

.table {

  position: static;
  margin: 50px auto 50px

}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 60px;

}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.footer-link {
  color: #11999E;
  font-weight:  bold;
  text-decoration: none;
}
.footer-link:hover {
  color: white;
}

.anchor {
  display: inline-block;
  margin: 25px 25px;
}

.btn {
  background: #11cdd4;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin: 0 0 40px 0;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
